@{
    ViewData["Title"] = "Home Page";
}
@model PodcastsHosting.Models.AudioModelsViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<div>
    @if (!ViewData.ModelState.IsValid)
    {
        <p>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <span>@error.ErrorMessage</span><br />
                }
            }
        </p>
    }
</div>

@if (User?.Identity?.IsAuthenticated == true)
{
    <p>Welcome back, @User.Identity.Name!</p>
}
else
{
    <p>Hello, guest! Please <a href="/Identity/Account/Login">log in</a> to access more features.</p>
}
